
.container {
    display: grid;
    grid-template-rows: 10vh 85vh max-content 65vh max-content min-content repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
}
