
.galery {
    grid-column: col-start / col-end 9;
    grid-row: 5 / 6;
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: minmax(min-content, 1fr);
    row-gap: 4rem;
    padding-top: 5rem;

    &__content {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    &__list {
        display: flex;
        list-style: none;
        gap: 1rem;

        @media only screen and (max-width: $bp-small) {
            gap: .7rem;
        }
    }

    &__item {

        &-link:link,
        &-link:visited {
            text-decoration: none;
            padding: .8rem 1.3rem;
            cursor: pointer;
            font-size: 1.4rem;
            color: var(--black);
            border-radius: 3px;
            transition: all .2s;
            color: #fff;
            background-color: var(--orange);
            box-shadow: var(--orangeCard);

            @media only screen and (max-width: $bp-small) {
                font-size: 1.1rem;
                padding: .5rem .8rem;
            }
        }

        &-link:hover,
        &-link:active {
            background-color: #f19808;
        }
    }

    &__cell {
        overflow: hidden;
        box-shadow: var(--smboxShadow);
        position: relative;

        &-learn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 80%);
            opacity: 0;
            color: #00fcd9;
            transition: all .2s;
            z-index: 9999;
        }
    }

    &__img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-auto-rows: 15rem;
        gap: 1rem;
        background-image: linear-gradient(to right top, #ffc700, #cddb35, #9be868, #66f09b, #1ff4cc, #18f7d0, #0ff9d5, #00fcd9, #53ffb0, #8cfe81, #c2f94d, #f9ee00);
        overflow: hidden;
        padding: 1rem 1rem;

        &-1 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;
            
            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-2 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-3 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-4 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-5 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-6 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-7 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-8 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-9 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-10 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-11 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }

        &-12 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .2s;

            &:hover {
                transform: scale(1.2);
                filter: blur(0.3rem);
            }
        }
    }
}

.galery__img:hover .galery__cell-learn {
    opacity: 1;
}