
.port {
    grid-column: col-start / col-end 9;
    grid-row: 4 / 5;
    display: grid;
    margin: 0 auto;
    width: 90%;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    position: relative;
    justify-items: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: minmax(min-content, 1fr);
        grid-auto-rows: 1fr;
    }

    &__content {
        align-self: flex-start;
    }

    &__container {
        width: 28rem;
        height: 28rem;
        background: rgb(255, 255, 255);
        border-radius: 100%;
        box-shadow: var(--boxShadow);
        position: relative;
        animation: rotate 15s linear infinite;
        display: grid;
    }

    &__items {
        width: 8rem;
        height: 8rem;
        background: rgb(255, 255, 255);
        border-radius: 100%;
        position: absolute;
        border: 2px solid #f0f0f0;
    }

    &__item-1 {
        top: -3rem;
        left: 9.5rem;
        
        animation: rotate-2 15s linear infinite;
    }

    &__item-2 {
        top: 9.5rem;
        right: -4rem;
        
        animation: rotate-2 15s linear infinite;
    }

    &__item-3 {
        bottom: 9.5rem;
        left: -3.5rem;

        
        animation: rotate-2 15s linear infinite;
    }

    &__item-4 {
        bottom: -3.5rem;
        right: 8.5rem;
        animation: rotate-2 15s linear infinite;
    }

    &__item-5 {
        align-self: center;
        justify-self: center;
        animation: rotate-3 25s linear infinite;
    }

    &__list {

        &-1 {
            transform: scale(.4);
            fill: #51cf66;
        }
        &-2 {
            transform: scale(.4);
            fill: #0b7285;
        }
        &-3 {
            transform: scale(.4);
            fill: #0b7285;
        }
        &-4 {
            transform: scale(.4);
            fill: #51cf66;
        }
        &-5 {
            transform: scale(.4);
            fill: var(--orange);
        }
    }
}

@keyframes rotate-2 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(-45deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-3 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }